body {
	background-image: url('https://static.wikia.nocookie.net/chainsaw-man/images/1/12/Hell.png/revision/latest?cb=20230327070814');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
background-position: center
}



p {
	background: black;
	
}

#specialp {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}

.emphasis {
	font-family: monospace;
}

.superEmphasis {
	color: orange;
	width: 300px;
	display: inline-block;}

.comicEmphasis {
	color: orange;
	width: 500px;
	display: inline-block;}

