body {
	background-image: url('https://im3.ezgif.com/tmp/ezgif-3-3084c407b8.jpg');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
background-position: center
}



p {
	background: black;
	
}

#specialp {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}

.emphasis {
	font-family: monospace;
}

.superEmphasis {
	color: orange;
	width: 300px;
	display: inline-block;}

.comicEmphasis {
	color: orange;
	width: 500px;
	display: inline-block;}

.bdt {
	border: 5px solid #555;
}

